@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.shopeName {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}

.grid-card {
  background-color: #f5f5f5;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 10px;
  text-align: left;
}

.shopimage {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.grid-card img {
  width: 100%;
  /* Adjust image width if needed */
}

#starLogo {
  width: 20px;
  margin-right: 5px;
}

.shop-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
}

.shop-address-feed{
  margin-left: 15px;
  font-size: 12px;
  color: #6c757d;
}