.forgot-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70.2vh;
  font-family: Arial, sans-serif;
}

.forgot-container {
  background-color: white;
  padding: 0px;
  border-radius: 5px;
  width: 20%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.5);
}

.forgothead {
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 20px 20px 0px 20px;
}

.forgotpara {
  margin-bottom: 3px;
  padding: 0px 20px 0px 20px;
}

.forgotinput {
  width: 93%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  
}

.searchbutton {
  
  padding: 10px;
  background-color: #435BDA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.cancelbutton {
  padding: 10px;
  background-color: #E4E6EB;
  color: #30436E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.forgot-btns {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 0px 20px 20px 20px;
}

p {
  max-width: 100%;
}