
.thankyou-container{
    margin: 30px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline; /* Updated gap value */

}

.thankyou-heading{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;

}

.thankyou-message{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.order-details-heading{
    font-size: 1.5rem;
    font-weight:bolder;
}

.order-detail{
    font-size: 1rem;
    font-weight:500;
}

.thankyou-sub-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.thankyou-left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px; /* Updated gap value */
    align-items: first baseline;
}

.thankyou-right-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.thankyou-image{
    height: 400px;
}

.order-details-button{
    padding: 10px 30px;
    color: white;
    background-color: #435BDA;
    border-radius: 20px;
    border: none;
}

.order-details-button:hover{
    background-color: #2F3F9F;
}

