.newStock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .newStock-searchLabel,
  .newStock-quantityLabel {
    margin-bottom: 5px;
  }
  
  .newStock-searchInput {
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
  }
  
  .newStock-quantityControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    margin-bottom: 20px;
  }
  
  .newStock-decreaseButton,
  .newStock-increaseButton {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .newStock-quantityDisplay {
    margin: 0 10px;
  }
  
  .newStock-confirmButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  