

.outer{
  position: fixed;
  top: 150px;
  left: 44%;
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.popup-container{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  /* backdrop-filter: blur(100px); */
  background-color: white;
  border: solid black 1px;
}

.popup-container .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 5px;
  cursor: pointer;
  background-color: red;
  color: white;
}

.quantity-control{
  display: flex;
  justify-content: center;
  margin-top: 4px;
  
}

.vegetable-image{
  height: 200px;
  width: 200px; /* Make the image occupy full width on a new line */
  border-radius: 50%;
  padding-bottom: 10px;
}

.add-btn{
  display: inline-flex;
  background-color: #435BDA;
  color: white;
  border-radius: 15px;
  padding: 7px 6px;
  margin-top: 10px;
}

.incr-item{
  border: 0;
  background-color: white;
}

.decr-item{
  border: 0;
  background-color: white;
}

#qty{
  margin: 0px 10px;
  font-size: larger;
  position: relative;
  bottom: 2px;
}

.vegetable-price{
  display: flex;
  justify-content: center;
}
