@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.feed-container {
    display: flex; /* Make the container a flexbox */
    justify-content: space-between; /* Align items horizontally */
    width: 100%; /* Ensure full width for Flexbox distribution */
    /* margin: 0 auto; */
    flex-direction: column; /* Stack elements vertically */
    justify-content: space-between; /* Center the container horizontally (optional) */
}



.feed-h1 {
    margin-top: 20px;
    margin-left: 152px;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.carousel {
    margin-left: 152px;
    margin-right: 152px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap; /* Prevent line breaks */
    -webkit-overflow-scrolling: touch; 
}

.carousel-item {
    display: block;
    padding: 1px;
    margin-right: 30px;
    cursor: pointer;
    object-fit: cover;
    max-width: 200px;
    object-fit: cover;
}

.carousel::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }

.grid-card-list {
    margin-left: 152px;
    margin-right: 152px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjust as needed */
    gap: 20px; /* Adjust gap between cards */
    cursor: pointer;
}




