.item-box {
    border: 1px solid black;
    padding: 25px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .item-row {
    display: flex;
    justify-content: space-between; /* Distribute elements evenly */
    background-color: #F3F3F3;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
  }
  
  
.total{
  display: flex;
  justify-content: flex-end;
  /* background-color: #F3F3F3; */
  width: 100%;
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
}

.rating {
  margin-left: 0;
  padding-bottom: 10px;
}

#sp {
  padding: 0 7px;
}