@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.qn{
    margin-top: 20px;
    margin-left: 152px;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

img{
    padding: 1px;
}

.carousel{
    margin-left: 152px;
}

.carousel-item {
    margin-right: 30px;
    cursor: pointer;
  }