.outer-container {
    width: 40%;
    margin:50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f8f9fa;
 }
 
 .iRow {
     display: flex;
     justify-content: space-evenly;
     padding: 20px;
     border: 1px solid #dee2e6;
     border-radius: 10px;
     background-color: #fff;
 }
 
 .shopImage img {
     left: 200px;
     height: 200px;
     width: 100%;
     border-radius: 10px;
 }
 /* .shopImage {
    width: 50%;
 } */

/* .shopContact{
    display: flex;
} */
 .shopContact > span {
     font-weight:bold;
 }
 
 .shopDetails {
    width: 60%;
     font-size: larger;
     line-height:1.8;
     flex-direction: column;
     justify-content: space-evenly;
 }
 
 
 .shopName{
     font-weight: bolder;

     font-size: larger;
     color: #333;
 }

 
 .shopDescription {
     margin-top: 20px;
     font-size: medium;
     color: #6c757d;
 }
 
 .inventory-table {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse; /* Collapse borders */
  }
  
  .inventory-table th, .inventory-table td {
    border: 1px solid #ddd; /* Add border */
    padding: 8px; /* Add padding */
    text-align: center; /* Align text to the center */
  }
  
  .inventory-table th {
    background-color: #505bd7; /* Add background color to table heading */
    color: white; /* Set text color to white */
  }
  
  .inventory-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Add background color to alternating rows */
  }
  