.outer-container {
    width: 60%;
    margin:50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f8f9fa;
 }
 
 .iRow {
     display: flex;
     justify-content: space-evenly;
     padding: 20px;
     border: 1px solid #dee2e6;
     border-radius: 10px;
     background-color: #fff;
 }
 
 .shopImage img {
     left: 200px;
     height: 200px;
     width: 90%;
     border-radius: 10px;
 }

 .shopContact > span {
     font-weight:bold;
 }
 
 .shopDetails {
     font-size: larger;
     line-height: 1.5;
     margin-right: 190px;
 }
 
 #starLogo{
     position: relative;
     top: 15px;
 }
 
 .shopName{
     font-weight: bolder;

     font-size: larger;
     color: #333;
 }

 
 .shopDescription {
     margin-top: 20px;
     font-size: medium;
     color: #6c757d;
 }
 