.listdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bttn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbtn{
    width: fit-content;
    padding: 10px;
    background-color: #435BDA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 440px) {
    .cart-item {
        border: 1px solid #ccc;
        margin:10px 30px;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        min-width: 300px;
    }

    
.cart-item p {
    margin: 5px 0;
}
}

