@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}
.sButton{
  display: inline-flex;
  background-color: white;
  margin: 0 10px;
  color: #435BDA;
  padding: 10 0px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 7px 6px;
  border: 1px solid #435BDA;
}

.sButton.active {
  background-color: #435BDA; /* Change to your preferred color */
  color: #FFFFFF; /* Change to your preferred color */
}

.priority-container {
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 94.5%;
}

.box {
    display: flex;
    margin-left: 10px;
    border:  2px solid #435BDA;
    border-radius: 10px;
}  

.priority-container div {
    margin-right: 10px; /* Optional: Add spacing between the words */
}

.preference-section{
    padding: 10px;
}