@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.grid-card-list {
    margin-left: 152px;
    margin-right: 152px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjust as needed */
    gap: 20px; /* Adjust gap between cards */
    cursor: pointer;
  }
  
  .grid-card {
    background-color: #f5f5f5;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    text-align: left;
  }
  
  .grid-card img {
    width: 100%; /* Adjust image width if needed */
  }

  .qn{
    margin-top: 20px;
    margin-left: 152px;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

#star{
  position: relative;
  top: 5px;
  width: 20px;
  margin-right: 5px;
}

.rating{
  padding-bottom: 5px;
  margin-left: 15px;
}

p{
  margin-left: 15px;
}
